<div id="left">
<h1>About Antinews</h1>

<p>Antinews is an experiment in community building by the <a href="http://nushackers.org">NUS Hackers.</a></p>

<p>Singapore needs a hacker community. What better way to grow that community than by sharing knowledge?</p>

<p>Antinews exists so that we can learn more from each other's posts, links, comments and projects.</p>

<h3>Why 'Antinews'?</h3>
<p>Antinews does not attempt to be a news site. Rather, <strong>it aims to be the best place to share knowledge</strong> <sup>[1]</sup>. The distinguishing factor that separates news from knowledge is that the latter's value is not dependent on time. For instance, an article on writing clean code will probably be valuable for the next 10 years. An article about some startup's acquisition will not.</p>

<p>We expect there to be some debate on what constitutes news vs knowledge. For example, an essay about an event that analyzes the context, history and norms surrounding that event may be considered knowledge, not news.</p>

<p>The only exception to this rule is when members share links to hacks and projects on the site.</p>

<h3>How to Join?</h3>
<p>Antinews is invite-only, to prevent spam and to protect the site from the Evaporative Cooling Effect. Your best shot for getting an invitation is to ask someone who is currently a member of the <a href="/u">community</a>. You may choose to email them, or you may simply turn up at an NUS Hackers event and ask.</p>

<p>The person who invites you will forever be linked to your profile, however, so invitation is an act of trust. Please remember to be a <a href="/guidelines">good member of the community</a>.</p>

<h3>Colophon</h3>
<p>This site is powered by Ruby on Rails and is built on top of the Lobsters codebase.</p><br/>
<hr/>
<p><sup>[1]</sup> That is interesting to hackers. Naturally.</p>
</div>
