<div id="left">
  <h1>Guidelines</h1>
  <p>Antinews exists so that we can <em>learn more</em> from each other's posts, comments, and hacks. This raison d'etre is the driving motivation behind many of the guidelines below.</p>

  <h3>What makes a good submission to Antinews?</h3>
  <p>A good submission to Antinews is a submission where value is not time-dependent. For example, an article about a cool problem-solving technique will still be valuable in 10 years' time. An article announcing the new iPad will not.</p>

  <p>In other words, the more timeless an article is, the more valuable it will be as an Antinews submission.</p>

  <p>Topically, a good submission to Antinews would be 'anything a growing hacker would be interested in'. That means:</p>

  <ol>
    <li>Submissions that teach people things</li>
    <li>Submissions that gratify one's intellectual curiosity.</li>
  </ol>

  <h3>What makes a bad submission on Antinews?</h3>
  <p>Memes, funny videos, most stories about politics, crime, or sports, unless they're indicative of some interesting new phenomenon.</p>

  <p>Blatant self promotion is a bad submission. Self-promotion isn't what this site is about. Linking to your site and asking for feedback is ok so long as the post is honest. Remember that self promotion can be earned &mdash; if you consistently post thought-provoking comments or links on the site, people will click through to your profile to know you better.</p>

  <p>In a nutshell, everything that detracts from a good learning experience is a bad submission to Antinews.</p> 

  <h3>How to comment?</h3>
  <p>Don't be creepy. You know that guy. Don't be that guy.</p>

  <p>Do unto others as you would be done unto you. That means not saying things you wouldn't say in a face to face conversation.</p>

  <p>Reply to the argument, don't call names. "You obviously don't know what you're talking about, X is Y, not Z." can be shortened to "X is Y, not Z."</p>

  <p>Please don't complain about downvotes. Nothing can be done about it, and it's rather boring to read.</p>
  <h3>How to vote?</h3>

  <p>Voting in Antinews should be done to encourage valuable contributions, and to discourage noisy ones.</p>

  <p>Please do not vote solely based on how much you agree or disagree with someone's conclusions. A better metric is to vote based on how much a comment or post improves everyone's collective understanding of the topic. For example, a comment you agree with that doesn't add to the discussion should be voted down or left alone. A comment you disagree with that raises important points should be voted up.</p>

  <p>In some cases it's probably acceptable to vote in order to register agreement or disagreement. For example, you can vote someone's proposal up or down based on whether you think it should be implemented.</p>
</div>

